{% extends 'login/base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
    <div class="container">
        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% elif users %}
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        {% else %}
            <h2>自主实验一</h2>
            <li>在网上实现用户注册，要求密码在数据库表中显示为非明文</li>
            <li>在网上实现查询分页，每页显示超过两页的页号，可直接跳转到特定页。</li>
            <br>
            <h2>自主实验二</h2>
            <li>在网上实现类似 excel 筛选中文本筛选的复杂查询。</li>
        {% endif %}
{% endblock %}